# FINAL CAPSTONE PROJECT OVERVIEW

- In this project, we will perform basic Exploratory Data Analysis (EDA) on the Kyphosis disease Dataset.
- Kyphosis is an abnormally excessive convex curvature of the spine. (อาการหลังค่อม)
- Dataset contains 81 rows and 4 columns representing data on children who have had corrective spinal surgery.
    - INPUTS: 1. Age: in months, 2. Number: the number of vertebrae involved (จำนวนกระดูกสันหลังที่เกี่ยวข้อง), 3. Start: the number of the first (topmost) vertebra operated on (จำนวนของกระดูกชิ้นแรก (บนสุด) ที่ทำการผ่าตัด).
    - OUTPUTS: Kyphosis which represents a factor with levels absent present indicating if a kyphosis (a type of deformation) was present after the operation.
- Using the “kyphosis.csv" included in the course package, write a python script to perform the following tasks:
    1. Import the “kyphosis.csv" file using Pandas
    2. Perform basic Exploratory Data Analysis (EDA) on the data       
    3. List the average, minimum and maximum age (in years) considered in this study using 2 methods
    4. What are the features of the oldest and youngest child in this study?
    5. Scale the raw Age column (in months) using both standardization and Normalization. Perform a sanity check.

# FINAL CAPSTONE PROJECT SOLUTION

In [ ]:
# Import Pandas Library
import pandas as pd

In [ ]:
#mount google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd "/content/drive/MyDrive/Colab Notebooks/335 Machine Learning/04-Data Wrangling  EDA with Pandas/"

/content/drive/MyDrive/Colab Notebooks/335 Machine Learning/04-Data Wrangling  EDA with Pandas

In [ ]:
# Let's read a CSV file using Pandas as follows
#1. Import the "kyphosis.csv" file using Pandas and assign to Kyphosis_df variable.
Kyphosis_df = pd.read_csv('kyphosis.csv')
Kyphosis_df

   Kyphosis  Age  Number  Start
0    absent   71       3      5
1    absent  158       3     14
2   present  128       4      5
3    absent    2       5      1
4    absent    1       4     15
..      ...  ...     ...    ...
76  present  157       3     13
77   absent   26       7     13
78   absent  120       2     13
79  present   42       7      6
80   absent   36       4     13

[81 rows x 4 columns]

In [ ]:
#2. Perform basic Exploratory Data Analysis (EDA) on the data with head(10) and tail()
Kyphosis_df.head(10)

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15
5   absent    1       2     16
6   absent   61       2     17
7   absent   37       3     16
8   absent  113       2     16
9  present   59       6     12

In [ ]:
Kyphosis_df.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [ ]:
Kyphosis_df.tail()

   Kyphosis  Age  Number  Start
76  present  157       3     13
77   absent   26       7     13
78   absent  120       2     13
79  present   42       7      6
80   absent   36       4     13

In [ ]:
#3. List the average, minimum and maximum age
Kyphosis_df.describe()

              Age     Number      Start
count   81.000000  81.000000  81.000000
mean    83.654321   4.049383  11.493827
std     58.104251   1.619423   4.883962
min      1.000000   2.000000   1.000000
25%     26.000000   3.000000   9.000000
50%     87.000000   4.000000  13.000000
75%    130.000000   5.000000  16.000000
max    206.000000  10.000000  18.000000

In [ ]:
#3. List the average, minimum and maximum age (in years)
(Kyphosis_df['Age']/12).mean()

6.971193415637861

In [ ]:
(Kyphosis_df['Age']/12).max()

17.166666666666668

In [ ]:
(Kyphosis_df['Age']/12).min()

0.08333333333333333

In [ ]:
#3. check null value
Kyphosis_df.isnull().sum()

Kyphosis    0
Age         0
Number      0
Start       0
dtype: int64

In [ ]:
#4. What are the features of the oldest child in this study?
Kyphosis_df [Kyphosis_df.Age == Kyphosis_df.Age.max()]

   Kyphosis  Age  Number  Start
73   absent  206       4     10

In [ ]:
#4. What are the features of the youngest child in this study?
Kyphosis_df [Kyphosis_df.Age == Kyphosis_df.Age.min()]

   Kyphosis  Age  Number  Start
4    absent    1       4     15
5    absent    1       2     16
13   absent    1       4     12
15   absent    1       3     16
36   absent    1       3      9

In [ ]:
#5. Scale the raw Age column (in months) using Normalization.
Kyphosis_df["Age"] = Kyphosis_df["Age"].astype("float64")

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
Kyphosis_df['Age'] =scaler.fit_transform(Kyphosis_df['Age'].values.reshape(-1,1))

In [ ]:
Kyphosis_df.describe().round(2)

         Age  Number  Start
count  81.00   81.00  81.00
mean    0.40    4.05  11.49
std     0.28    1.62   4.88
min     0.00    2.00   1.00
25%     0.12    3.00   9.00
50%     0.42    4.00  13.00
75%     0.63    5.00  16.00
max     1.00   10.00  18.00

         Age  Number  Start
count  81.00   81.00  81.00
mean    0.00    4.05  11.49
std     1.01    1.62   4.88
min    -1.43    2.00   1.00
25%    -1.00    3.00   9.00
50%     0.06    4.00  13.00
75%     0.80    5.00  16.00
max     2.12   10.00  18.00

In [ ]:
#5. Scale the raw Age column (in months) using standardization.
Kyphosis_df["Age"] = Kyphosis_df["Age"].astype("float64")

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
Kyphosis_df['Age'] =scaler.fit_transform(Kyphosis_df['Age'].values.reshape(-1,1))

In [ ]:
Kyphosis_df.describe().round(2)

         Age  Number  Start
count  81.00   81.00  81.00
mean    0.00    4.05  11.49
std     1.01    1.62   4.88
min    -1.43    2.00   1.00
25%    -1.00    3.00   9.00
50%     0.06    4.00  13.00
75%     0.80    5.00  16.00
max     2.12   10.00  18.00